*{
	padding: 0;
	margin: 0;
}
body{
	background: #f3f3f3;
	font-family: arial;
}
header{
	background: #33691E;
	color: #f3f3f3;
}
h1{
	width: 25%;
	display: inline-block;
	padding: 0.5em;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Josefin Slab';
}
nav{
	width: 60%;
	display: inline-block;
	text-align: right;
}
nav a{
	text-decoration:none;
	color: #CDDC39;
	padding: 0 1em;
	text-shadow: 1px 1px 2px #000;
	font-size: 1.1em;
	padding: 5px 10px;
	letter-spacing: 2px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	margin-bottom: 2px;
}
nav a:hover{
	background: transparent;
	text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
	color: #fff;
}
main{
	width: 90%;

	margin: 0 auto;
}
section{
	text-align: center;
}
.content{
	padding: 1em;
	margin: 0 auto;

}

img .avatar{
	margin: 0 auto;
}
.boton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.contacto{
	width: 20%;
	display: inline-block;
	background: #fff;
	margin: 0.5em;
	box-shadow: 0px 0px 4px #666;
	border-radius: 2%;
	vertical-align: top;
}
.contacto h2{
	color: #255E69;
	padding: 0.4em 1em;
	font-size: 1.5em;
}
.contacto h3{
	color: #666;
	padding: 0.1em 1em;
	font-size: 0.9em;
}
.contacto img{
	width: 90%;
	height: 200px;
	padding: 1em;
    background-position: 50%;
    border-radius: 50%;
}
.btnrojo{
	background: #f44336;
}
.boton:hover{
	text-decoration: none;
	border-top: 1px solid #ccc;
	background: #8AC526;
	color: #fff,
}
.formcontacto{
	width: 40%;
	padding: 1em;
}
footer{
	background: #424242;
	color: #9E9E9E;
	text-align: center;
	padding: 1em 0;
}

form .formcontacto {
    overflow: hidden;
}
input, select {
    float: center;
    width: 90%;
    padding: 0.3em;
    margin: 0.5em;
}
input, select{
	background: rgba(63,208,41, 0.1);
	border-radius: 5px;
}
form input[type=search] {
	width: 30%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

form input[type=search]:focus {
    width: 100%;
}
button{
	background-color: #4CAF50;
	width: 50%;
    border-radius: 5px;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.imagetable{
	width: 6em;
	position: relative;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}
td a{
	margin: 0 5px;
}
td a.delete{ color: red; }
td a.edit{ color: green; }
